* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

body {
    background-color: blanchedalmond;
}

.container{
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 170px;
    resize: none;
}

button{
    cursor: pointer;
}